<<<<<<< HEAD
<style type="text/css">
    .col-xs-3 {
        border-color:#0f0f0f;
        border-width: 2px;
    }

    tr:hover { 
        background: #ff6600;
        /* opacity: 0.7; */
    }

</style>


=======
.col-xs-3 {
    border-color: #0f0f0f;
    border-width: 2px;
}
>>>>>>> a1543b770d03718d2c9c52ae1062ed7f005c61c2
